<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Relatório de Usuários</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Usuários Cadastrados</h1>
  
    <input type="text" id="filtro" placeholder="🔍 Buscar por nome..." oninput="filtrarTabela()" style="margin-bottom: 15px; padding: 6px; width: 300px;">
    <h2>Cadastrar Novo Usuário</h2>
    <form id="formCadastro" onsubmit="cadastrarUsuario(event)" enctype="multipart/form-data" style="margin-bottom: 20px;">
        <input type="text" placeholder="Nome" name="nome" required>
        <input type="email" placeholder="Email" name="email" required>
        <input type="text" placeholder="Gênero" name="genero">
        <input type="text" placeholder="Cidade" name="cidade">
        <input type="text" placeholder="País" name="pais">
        <input type="file" name="foto" accept="image/*">
        <input type="hidden" name="foto_url" id="foto_url">
        <button type="submit">Cadastrar</button>
        <button type="button" onclick="importarUsuario()">🎲 Importar Usuário Aleatório</button>


    </form>
    <table id="tabelaUsuarios">
      <thead>
        <tr>
          <th>Foto</th>
          <th>Nome</th>
          <th>Email</th>
          <th>Gênero</th>
          <th>Cidade</th>
          <th>País</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody id="tabelaCorpo"></tbody>
    </table>
    <script src="app.js"></script>
  </body>  
</html>
