body {
  font-family: Arial, sans-serif;
  background-color: #f4f7f6;
  color: #333;
  margin: 0;
  padding: 0;
}

h1, h2 {
  color: #4CAF50;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

h2 {
  margin-top: 20px;
  color: #2196F3;
}

form {
  max-width: 600px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="email"], form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}

form input[type="text"]:focus, form input[type="email"]:focus {
  border-color: #4CAF50;
  outline: none;
}

form button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

form button:hover {
  background-color: #45a049;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 30px;
}

th, td {
  padding: 12px;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 16px;
}

table th {
  background-color: #2196F3;
  color: white;
}

img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tbody tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease;
}

#filtro {
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  display: block;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

#filtro:focus {
    border-color: #4CAF50;
    outline: none;
}

button.atualizar {
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button.atualizar:hover {
  background-color: #0056b3;
}

button.excluir { 
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

button.excluir:hover {
  background-color: #c82333; 
}
